In [1]:
import pandas as pd
import os

In [2]:
# Extract the vine table data into a dataframe
df_vine = pd.read_csv("vine_table.csv")
df_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y

In [3]:
# Retrieve the rows where total_votes is equal to or greater than 20
total_df = pd.DataFrame(df_vine.loc[(df_vine["total_votes"] >= 20)])
total_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y

In [4]:
# Retrieve rhe rows where helpful votes divided by total votes is equal to or greater than 50%
filter_df = total_df.loc[total_df["helpful_votes"]/total_df["total_votes"] >= 0.5]
filter_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y

In [5]:
# Create a new dataframe that shows where a review was written as part of the vine program
df_paid = filter_df.loc[filter_df["vine"]=='Y']
df_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
334756,R2UUV4UGGYMQG8,5,34,39,Y,N
428946,R9K0LZV2BK9YY,4,37,39,Y,N
477323,R2OVFLNEUEGTJM,3,18,25,Y,N
664604,RBE09ELJ77LQ0,5,44,45,Y,N

In [6]:
# Create a new dataframe that shows where a review was not written as part of the vine program
df_unpaid = filter_df.loc[filter_df["vine"]=='N']
df_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y

In [14]:
# Determine the total number of paid reviews
paid_number = df_paid["star_rating"].count()
paid_number

47

In [13]:
# Determine the total number of non-vine reviews
unpaid_number = df_unpaid["star_rating"].count()
unpaid_number

8362

In [9]:
# Number of 5 star reviews for the paid
five_unpaid = df_unpaid.loc[(df_unpaid['star_rating']== 5)]["star_rating"].count()
five_unpaid

4332

In [10]:
# Number of 5 star reviews for the paid
five_paid = df_paid.loc[(df_paid["star_rating"]==5)]["star_rating"].count()
five_paid

15

In [18]:
# Determine the percentage of 5-star reviews for the unpaid
(five_unpaid/unpaid_number *100).round(1)

51.8

In [17]:
# Determine the percentage of 5-star reviews for the paid
(five_paid/paid_number * 100).round(1)

31.9